.op-es-medicina,
.op-es-medicina * {
  box-sizing: border-box;
}
.op-es-medicina {
  background: #ffffff;
  height: 1499px;
  position: relative;
  overflow: hidden;
}
.diversas-especialidades-m-dicas-dispon-veis-para-atender-suas-necessidades {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 72px;
  top: 212px;
  width: 429px;
}
.reabilita-o-tratamentos-especializados-e-preven-o-de-les-es {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 587px;
  top: 212px;
  width: 451px;
}
.especialistas-em-sa-de-cardiovascular-e-preven-o-de-doen-as-do-cora-o {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1105px;
  top: 213px;
  width: 439px;
}
.cuidados-especializados-para-sa-de-infantil-e-desenvolvimento {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 68px;
  top: 561px;
}
.cuidados-com-a-saude-dos-olhos-e-corre-ao-visual {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 583px;
  top: 561px;
}
.tratamento-de-les-es-sseas-articulares-e-musculares {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1105px;
  top: 562px;
  width: 437px;
}
.planejamento-alimentar-e-acompanhamento-nutricional-personalizado {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 70px;
  top: 922px;
  width: 411px;
}
.diagn-stico-e-tratamento-de-doen-as-do-sistema-nervoso {
  color: #545454;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 585px;
  top: 922px;
}
.medical-information {
  height: auto;
  position: absolute;
  left: 81px;
  top: 82px;
  overflow: visible;
  aspect-ratio: 1;
}
.cardiology {
  height: auto;
  position: absolute;
  left: 1119px;
  top: 83px;
  overflow: visible;
  aspect-ratio: 1;
}
.ecg {
  height: auto;
  position: absolute;
  left: 601px;
  top: 82px;
  overflow: visible;
  aspect-ratio: 1;
}
.child-care {
  height: auto;
  position: absolute;
  left: 78px;
  top: 440px;
  overflow: visible;
  aspect-ratio: 1;
}
.symptoms {
  height: auto;
  position: absolute;
  left: 597px;
  top: 440px;
  overflow: visible;
  aspect-ratio: 1;
}
.humerus {
  height: auto;
  position: absolute;
  left: 1119px;
  top: 441px;
  overflow: visible;
  aspect-ratio: 1;
}
.pill {
  height: auto;
  position: absolute;
  left: 80px;
  top: 790px;
  overflow: visible;
  aspect-ratio: 1;
}
.network-intelligence {
  height: auto;
  position: absolute;
  left: 599px;
  top: 790px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-300 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 32px;
  top: 38px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-270 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 555px;
  top: 38px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-271 {
  background: rgba(7, 187, 180, 0.2);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 68px;
  top: 69px;
}
.rectangle-302 {
  background: rgba(255, 222, 92, 0.52);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 586px;
  top: 69px;
}
.rectangle-269 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 1077px;
  top: 38px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-274 {
  background: rgba(255, 222, 92, 0.52);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 1104px;
  top: 70px;
}
.rectangle-281 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 30px;
  top: 394px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-294 {
  background: rgba(7, 187, 180, 0.2);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 64px;
  top: 426px;
}
.rectangle-282 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 556px;
  top: 394px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-283 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 1077px;
  top: 395px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-284 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 32px;
  top: 750px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.rectangle-285 {
  background: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
  width: 489px;
  height: 332px;
  position: absolute;
  left: 559px;
  top: 750px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.neurologia {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 589px;
  top: 871px;
  -webkit-text-stroke: 0.5px #000000;
}
.rectangle-295 {
  background: rgba(0, 198, 105, 0.23);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 582px;
  top: 426px;
}
.rectangle-296 {
  background: rgba(255, 222, 92, 0.52);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 1104px;
  top: 427px;
}
.rectangle-297 {
  background: rgba(0, 198, 105, 0.23);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 584px;
  top: 778px;
}
.rectangle-298 {
  background: rgba(7, 187, 180, 0.2);
  border-radius: 12px;
  width: 71px;
  height: 68px;
  position: absolute;
  left: 66px;
  top: 778px;
}
.consultas-m-dicas {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 176px;
  -webkit-text-stroke: 0.5px #000000;
}
.fisioterapia {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 590px;
  top: 176px;
  -webkit-text-stroke: 0.5px #000000;
}
.cardiologia {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1108px;
  top: 168px;
  -webkit-text-stroke: 0.5px #000000;
}
.pediatria {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 67px;
  top: 514px;
  -webkit-text-stroke: 0.5px #000000;
}
.oftalmologia {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 587px;
  top: 514px;
  -webkit-text-stroke: 0.5px #000000;
}
.ortopedia {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1108px;
  top: 515px;
  -webkit-text-stroke: 0.5px #000000;
}
.nutri-o {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 871px;
  -webkit-text-stroke: 0.5px #000000;
}
._158-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 328px;
  top: 69px;
}
._67-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 848px;
  top: 69px;
}
._45-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1366px;
  top: 70px;
}
._56-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 325px;
  top: 430px;
}
._38-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 846px;
  top: 430px;
}
._71-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 327px;
  top: 782px;
  width: 163px;
  height: 30px;
}
._46-profissionais {
  color: #707070;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 848px;
  top: 782px;
  width: 163px;
  height: 30px;
}
.component-197 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 64px;
  top: 280px;
}
.rectangle-276 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #0cbc8c;
  border-width: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.agendar-agora {
  color: #0cbc8c;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 33.26%;
  left: 23.65%;
  width: 43.09%;
  bottom: 20%;
  top: 20%;
  height: 60%;
  -webkit-text-stroke: 0.5px #0cbc8c;
}
.component-187 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 61px;
  top: 637px;
}
.component-188 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 61px;
  top: 989px;
}
.component-189 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 580px;
  top: 989px;
}
.component-190 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 1104px;
  top: 638px;
}
.component-192 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 578px;
  top: 637px;
}
.component-194 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 1104px;
  top: 282px;
}
.component-185 {
  width: 427px;
  height: 60px;
  position: absolute;
  left: 587px;
  top: 280px;
}
